<form [formGroup]="MatchInfo">
    <div class="card">
      <div class="card-header" style="text-align: center; background-color:blanchedalmond;">פרטי המשחק</div>
      <div class="card-body">
        <div class="container">
          <div class="row align-items-center">
                <mat-form-field class="col">
                  <mat-label>'קבוצה ב</mat-label>
                <mat-select formControlName="TeamB" [disabled]="this.editFlag"
                  [ngClass]="{'form-control-danger': (TeamB.errors?.forbiddenSelect || MatchInfo.errors?.match) && TeamB.touched && TeamB.dirty}">
                  <mat-option disabled selected value=null> --- בחר --- </mat-option>
                  <mat-option *ngFor="let team of Teams" value="{{team.Name}}">{{team.Name}}</mat-option>                 
                </mat-select>
                <mat-hint class="text-danger" *ngIf="(TeamB.errors?.forbiddenSelect || MatchInfo.errors?.match) && TeamB.touched && TeamB.dirty">אין אפשרות ליצור משחק עם קבוצה אחת</mat-hint>
              </mat-form-field>
              <mat-form-field class="col">
                  <mat-label>'קבוצה א</mat-label>
                <mat-select formControlName="TeamA" [disabled]="this.editFlag"
                  [ngClass]="{'form-control-danger': (TeamA.errors?.forbiddenSelect || MatchInfo.errors?.match) && TeamA.touched && TeamA.dirty}">
                  <mat-option disabled selected value=null> --- בחר --- </mat-option>
                  <mat-option *ngFor="let team of Teams" value="{{team.Name}}">{{team.Name}}</mat-option>                 
                </mat-select>
                <mat-hint class="text-danger" *ngIf="(TeamA.errors?.forbiddenSelect || MatchInfo.errors?.match) && TeamA.touched && TeamA.dirty">אין אפשרות ליצור משחק עם קבוצה אחת</mat-hint>
              </mat-form-field>
          </div>
          <div class="row align-items-center justify-content-center">



                    <mat-form-field class="col-6">
                        <input matInput formControlName="Date" placeholder="תאריך" [matDatepicker]="datePicker" id="Date">
                        <mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #datePicker></mat-datepicker>
                    </mat-form-field>



            <div class="col-6" formGroupName="Time">
              <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>שעות</mat-label>
                  <input matInput type="number" formControlName="hours"
                  [ngClass]="{'form-control-danger': hours.invalid && (hours.dirty || hours.touched)}">
                 <mat-hint class="text-danger" *ngIf="hours.errors?.invalidHour && hours.touched">נתון שגוי</mat-hint>
                </mat-form-field>

                <mat-form-field class="col-6">
                    <mat-label>דקות</mat-label>
                      <input matInput type="number" id="minutes" formControlName="minutes"
                      [ngClass]="{'form-control-danger': minutes.invalid && (minutes.dirty || minutes.touched)}">
                      <mat-hint class="text-danger" *ngIf="minutes.errors?.invalidMinute && minutes.touched">נתון שגוי</mat-hint>
                  </mat-form-field>
                    

              </div>
            </div>

          </div>
          <div class="row align-items-center">
              <mat-form-field class="col-6">
                  <mat-label>'שערים קבוצה ב</mat-label>
                  <input matInput type="number" formControlName="GoalsTeamB"
                  [ngClass]="{'form-control-danger': GoalsTeamB.invalid && (GoalsTeamB.dirty || GoalsTeamB.touched)}">
                  <mat-hint class="text-danger" *ngIf="GoalsTeamB.errors?.negativeNumber && GoalsTeamB.touched">אין אפשרות לשמור משחק עם מספר שערים שלילי</mat-hint>
              </mat-form-field>


            <mat-form-field class="col-6">
              <mat-label>'שערים קבוצה א</mat-label>
              <input matInput type="number" formControlName="GoalsTeamA"
              [ngClass]="{'form-control-danger': GoalsTeamA.invalid && (GoalsTeamA.dirty || GoalsTeamA.touched)}">
              <mat-hint class="text-danger" *ngIf="GoalsTeamA.errors?.negativeNumber && GoalsTeamA.touched">אין אפשרות לשמור משחק עם מספר שערים שלילי</mat-hint>
            </mat-form-field>
              
            </div>

        <div class="row">

              <mat-form-field class="col-12">
            <mat-label>הערות</mat-label>
            <textarea matInput formControlName="Comment" rows="4" cols="40"></textarea>
            </mat-form-field>
        </div>

        <mat-dialog-actions>
            <button mat-raised-button (click)="onSubmit()" [disabled]="MatchInfo.invalid">שמור</button>
            <button mat-raised-button (click)="onCloseSelect()">סגור</button>
        </mat-dialog-actions>

      </div>
    </div>
    </div>
  </form>